---
import Layout from '@/layouts/Layout.astro';
import TradeInForm from '@/components/TradeInForm/TradeInForm.astro';
---

<Layout title={`JETOUR Trade In`} description=" Оцените свой автомобиль и получите самые выгодные условия на покупку нового автомобиля">
	<div class="container py-10"><TradeInForm /></div>
</Layout>